{% extends "catalog/base.html" %}

{% block content %}
<br/>
<div  class="center-block" id="login" style="width: 40%;">
    <form class="form-horizontal form" name="LoginForm"  method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
  </div><br>
  <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'registration' %}"> or sign up</a>
        </div>
    </div>
    </form>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p class="btn"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}

{% endif %}

{% endblock %}