{% extends "catalog/base.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed based on <em>Mozilla Developer Network's tutorial</em></p>
  <P>with some modifications by Will Liao!</P>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>The Expanse Series:</strong> {{ num_books_expanse }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}