{% extends "catalog/base.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}

<h1>Local Library Home</h1>
<P>Welcome to local library!</P>

<ul>
    <li>Your ip is <strong>{{ ip }}</strong></li>
    <li>You are probably from <strong>{{ country }}</strong>. Hello!</li>
</ul>

<p>This website was developed based on <em>Mozilla Developer Network's tutorial</em>
    with some modifications by Will Liao.</P>
<P>Now visitors can <b>create an account</b>,
    <b>view their own personal profiles</b> and <b>borrow books!</b></P>

<P>You can login as staff, account: <b>Librarian_1</b> password: <b>staffaccount</b></P>
<P>Or as guest, account: <b>Guest</b>, password: <b>visitor1</b></P>
<P>Or create your own account and have fun!</P>

<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>The Expanse Series:</strong> {{ num_books_expanse }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>

</ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

<div>Icons made by <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond
</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY</a>
</div>

{% endblock %}